# Eclipse stuff
/.classpath
/.project
/.settings
/.metadata
/.lock

# netbeans
/nbproject

# we use maven!
/build.xml

# maven
/target

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

# Filesystem dust
/.DS_Store
/Thumbs.db
/.tmp
/desktop.ini

# intellij
*.iml
*.ipr
*.iws
.idea/